<footer class="Footer">
<div class="container-fluid">
  <a href="/"><img class="Footer__logo" alt="サイトロゴ" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png"></a>

  <p class="Footer__copyright">
    Copyright © Potepan Share 2024 All rights reserved
  </p>
</div>
</footer>
