<body>
    <header>
  <nav class="navbar Navbar">
    <div class="container-fluid">
      <a href="/"><img class="Navbar__logo" alt="サイトロゴ" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png"></a>
    </div>
  </nav>
</header>
